.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../public/images/baganBG.jpg");
  background-size: cover;
  background-position: center;
}

form{
 background-color: white;
 padding: 0px 60px;
 border-radius: 10px;
}

h1{
 text-align: center;
}

button{
 width: 100%;
 height: 50px;
 padding: 10px;
 border: none;
 background-color: #b66e1aff;
 color:white;
 border-radius: 5px;
 font-weight: bold;
 font-size: 18px;
 cursor: pointer;  
 margin-bottom: 10px;
}